* {
    background-color: #ffff;
    border-radius: 0px;
}

.headerText {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Center the text within the container */
}